.menu_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #252f3d;
    color: white;
    top: 0;
    z-index: 100;
}

.menu_options{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    align-items: center;
    justify-content: space-evenly;
}

.option{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    align-items: center;
    padding: 5px;
    height: 100%;
    cursor: pointer;
    font-size: 15px;
}

.menu_title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 80%;
    cursor: pointer;
    padding: 2px 10px 2px 5px;
}

.option:hover,
.menu_title:hover{
    border: 1px solid white;
}

