.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header_logo {
  width: 100px;
  object-fit: contain;
  margin: 0 14px;
  margin-top: 5px;
  padding: 10px;
  padding-bottom: 0px;
  cursor: pointer;
}

.header_location {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.location_on {
  color: white;
}

.header_location_option {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  margin-right: 5px;
  color: white;
  cursor: pointer;
  padding: 5px;
}

.current_location {
  font-size: 13px;
}

.update_location {
  font-size: 15px;
  font-weight: 800;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.search_dropdown {
  background-color: #e6e6e6;
  height: 2rem;
  padding: 10px;
  border: none;
  width: 4.5%;
  cursor: pointer;
}

.header_input {
  height: 12px;
  padding: 10px;
  border: none;
  width: 90%;
}

.search_icon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
  cursor: pointer;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
  padding: 5px;
}

.header_option_basket {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
  padding: 5px;
}

.header_optionOne {
  font-size: 10px;
}

.header_optionTwo {
  font-size: 13px;
  font-weight: 800;
}

.header_optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header_basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.basket_label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_logo:hover,
.header_location:hover,
.header_option:hover,
.header_option_basket:hover {
  border: 1px solid white;
  border-radius: 5%;
}
